In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('/Users/bibekrai/workspace/Harvest_Nepal/Dataset/Crop_recommendation.csv')

In [3]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [4]:
df['N'].max()

140

In [5]:
df['N'].min()

0

In [13]:
df['P'].max()

145

In [14]:
df['P'].min()

5

In [15]:
df['K'].max()

205

In [16]:
df['K'].min()

5

In [17]:
df['humidity'].max()

99

In [18]:
df['humidity'].min()

14

In [19]:
df['ph'].max()

9

In [20]:
df['ph'].min()

3

In [21]:
df['rainfall'].max()

298

In [22]:
df['rainfall'].min()

20

In [23]:
df['temperature'].max()

43

In [24]:
df['temperature'].min()

8

In [6]:
df.dtypes

N                int64
P                int64
K                int64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
label           object
dtype: object

In [7]:
df['temperature']=df['temperature'].astype(int)

In [8]:
df['humidity']=df['humidity'].astype(int)

In [9]:
df['ph']=df['ph'].astype(int)

In [10]:
df['rainfall']=df['rainfall'].astype(int)

In [11]:
df.dtypes

N               int64
P               int64
K               int64
temperature     int64
humidity        int64
ph              int64
rainfall        int64
label          object
dtype: object

In [12]:
df.to_csv('crop-recommendation.csv')